@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #c4ddca;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* font-[family-name:var(--font-geist-sans)] */
.swiper-slide img {
  display: block;
  object-fit: cover;
}

.scroll-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}